NEXT_PUBLIC_CONTRACT_ADDRESS=0xCdF6fdF06Ba6fc33C22f40Fee04f85C232623738
NEXT_PUBLIC_TOKEN_ADDRESS=0x85101691A00Fef98D317dE547f5bc678dfFF7e34
NEXT_PUBLIC_RPC_URL=https://services.polkadothub-rpc.com/testnet
NEXT_PUBLIC_CHAIN_NAME=Polkadot EVM Testnet
NEXT_PUBLIC_CHAIN_ID=420420417
NEXT_PUBLIC_BLOCK_EXPLORER_URL=https://blockscout-testnet.polkadot.io
